body {
  padding: 0;
  background-color: black/white;
  font-size: 14px;
  font-family: "Comic Sans MS";
  line-height: 18px;
  color: #000000;
}

h1 {
  width: 260px;
  font-size: 36px;
  line-height: 36px;
}

h2 {
  padding-bottom: 12px;
  border-bottom: 1px solid #cccccc;
}

header {
  margin-bottom: 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  color: #999999;
}

blink, .blink {
  -webkit-animation: blink 1s step-end infinite;
  -moz-animation: blink 1s step-end infinite;
  -o-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  67% { opacity: 0 }
}

@-moz-keyframes blink {
  67% { opacity: 0 }
}

@-o-keyframes blink {
  67% { opacity: 0 }
}

@keyframes blink {
  67% { opacity: 0 }
}
